<div class="header">

  <a href="/contact" class="menuitem" id="one">CONTACT</a>
  
  <a href="/policies" class="menuitem" id="two">POLICIES</a>
  
  <a href="/" class="menuitem" id="logopic"> <img src="logo.png"> </a>
  
  <a href="/" class="menuitem" id="logo">MIDDLEMATTER</a>
  
  <a href="/" class="menuitem" id="logotext">THE APPLICATION CREATION KIT</a>
  
  <a href="/about" class="menuitem" id="three">ABOUT</a>
  
  <a href="/blog" class="menuitem" id="four"> BLOG</a>

</div>