<% include partials/header %>
    
<% include partials/nav %>

<div class="about">
  
  <h1> 
  
    ABOUT <br> MIDDLEMATTER
    
  </h1>
  
  <p>
    
    <span class="tab">MiddleMatter</span> is an engineering services company
    with a team that is well versed in all developing languages, from VBA to
    HTML. Our engineers are also experts in all stages of hardware design,
    ranging from ASIC to FPGAs, RTL to GDS II. Whether you require
    consultation or a complete project, MiddleMatter has the knowledge
    and experience for all of your software and hardware engineering needs.
    
    <br><br><br><br>
    
    <strong>Build with speed and simplicity</strong>
    
    <br><br>
    
        <span class="tab">With</span> applications at the center of our world,
        you need to rapidly develop and deploy engaging experiences. Choose
        the best application platform tools and services to help you 
        dynamically develop, assemble, test, deploy or iterate. 
        
        <br><br>
    
    <strong>Optimize for enterprise grade solutions</strong>
    
    <br><br>
    
        <span class="tab">Leverage</span> patterns and dynamic runtime 
        environments to deliver application in demanding implementations.
        Build, manage and optimize enterprise grade solutions that are 
        more available, reliable as well as secure with solid governance
        capabilities. 
        
        <br><br>
    
    <strong>Propel your business forward</strong> 
    
            <br><br>
    
        <span class="tab">You</span> you need to use mobile
    and social to extend your reach creating multiple opportunities for 
    customers to connect with your business. Get to market faster, with
    less cost and fewer risks, as your teams deliver on digital 
    transformation initiatives.  
    
            <br><br>
            
  </p>
    
</div>

<div class="division"></div>

<div class="theTeam">
  
  <div class="container">
  
    <img src="https://source.unsplash.com/usk52YRwGrM" id="teamPic">
    
  </div>
 
      <img src="https://source.unsplash.com/EXuKQaf3Ei8" class="teamID" id="team1">
      
          <img src="https://source.unsplash.com/zy-t2K5JmWE" class="teamID" id="team2">
          
              <img src="https://source.unsplash.com/WT8uuFmQH0Q" class="teamID" id="team3">
              
                  <img src="https://source.unsplash.com/-tyupVHDaKg" class="teamID" id="team4">
                  
  <p class="teamBio">
    
    ^Team picture area^
    
  </p>

</div>

<div class="division"></div>

<div class="aboutContactUs">
  
  <br><br>
  
  <a href="/contact">
    
    <p class="aboutButton">CONTACT    </p>
  
  </a>
  
      <p class="aboutCon">
      
        MIDDLEMATTER
      
        <br>
      
        2768 BURNETT RD.
      
        <br>
      
        AUSTIN, TX 78714
    
        <br>
      
        INFO@MIDDLEMATTER.COM
    
        <br><br>

    </p>
  
</div>

<% include partials/footer %>