<!DOCTYPE HTML>
<html>
<head>
<title>MiddleMatter</title>
<link rel="stylesheet" href="app.css">
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<!-- ########## -->
<body>
    
<div class="header">

<a href="/contact" class="menuitem" id="one">CONTACT</a>
<a href="/policies" class="menuitem" id="two">POLICIES</a>
<a href="/" class="menuitem" id="logopic">
  
  <img src="logo.png">
  
</a>
<a href="/" class="menuitem" id="logo">MIDDLEMATTER</a>
<a href="/" class="menuitem" id="logotext">THE APPLICATION CREATION KIT</a>
<a href="/about" class="menuitem" id="three">ABOUT</a>
<a href="/blog" class="menuitem" id="four"> BLOG</a>

</div>

<p id="blogHead">BLOG</p>

<div class="post">

	<div class="date">August 15 2016</div>
	<h2>Image Processing for Skin Rashes</h2>

	<p class="quote"> <em>

	</em></p>
  
<p id="blogtext">
<br>

In this digital mobile world; it is becoming increasingly convenient to initially look at skin rashes as they

appear on pictures taken by smart phone cameras. The wide range of rashes can potentially point to

insect bites <a href="http://bugsinthenews.info/?p=9623">http://bugsinthenews.info/?p=9623</a> or serious diseases such as shingles, skin

cancer(melanoma), or allergic reactions to poison ivy/oak. 

<br> <br>

Diagnosis techniques <a href="http://www.yourdiagnosis.com/yourskindiagnosis/">http://www.yourdiagnosis.com/yourskindiagnosis/ </a>include answers to questions like does it itch? Is it

sensitive to touch? Your location now and where you have been and the location and size of the rash. 

<br><br>


In all these cases it can be useful to process the smart phone picture to reveal details not visible to the naked eye.  Several interesting algorithms including Optimized Successive Mean, and Eulerian Magnification.   MiddleMatter's Night Vision Processing is an example of an application that uses an Optimized Successive Mean algorithm to reveal otherwise invisible detail.   Since different smart phone cameras can present different images it is useful to enhance image's using algorithms like the one found in Night Vision Processing.

</p>

<br><hr><br>
	 
	<div class="date">July 21 2016</div>
	<h2>Optimized Successive Mean Quantization Transform</h2>

	<p class="quote"> <em>
Successive Mean Quantization Transform (SMQT) algorithm is a non-linear transformation that reveals the organization or structure of the data and removes properties such as gain and bias. In a paper titled The Successive Mean Quantization Transform, SMQT is “applied in speech processing and image processing”. The algorithm when applied to images “can be seen as a progressive focus on the details in an image”.	
	</em></p>

  <center>
<a href="https://www.toptal.com/algorithms/successive-mean-quantization-transform">

Optimized Successive Mean Quantization Transform

<br>
<img src="nightvis.jpg" id="nightvis">

</a>

</center> 

</div>


</body>
</html>