<!DOCTYPE HTML>
<html>
<head>
<title>MiddleMatter</title>
<link rel="stylesheet" href="app.css">
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
</head>
<!-- ########## -->
<body>
    
<div class="header">

<a href="/contact" class="menuitem" id="one">CONTACT</a>
<a href="/policies" class="menuitem" id="two">POLICIES</a>
<a href="/" class="menuitem" id="logopic">
  
  <img src="logo.png">
  
</a>
<a href="/" class="menuitem" id="logo">MIDDLEMATTER</a>
<a href="/" class="menuitem" id="logotext">THE APPLICATION CREATION KIT</a>
<a href="/about" class="menuitem" id="three">ABOUT</a>
<a href="/blog" class="menuitem" id="four"> BLOG</a>

</div>

<div class="content">
  
    <h1> 
      MIDDLE WARE <br> WITHOUT POLICY
    </h1>
    
   <br><br> 
  <p>
    
    Today’s leading enterprises are transforming digitally, jumping head first in the API economy. Transformations are being driven by connected devices and consumers’ thirst for compelling brand experiences- all generating a vast and ever growing amount of data.
      <br><br>
    In the API economy, application programming interfaces (APIs) act as the digital glue that links services, applications and systems. This allows businesses to make the most of their data to create compelling customer experiences and open new revenue channels. 
    
  </p>
    
</div>

</body>
</html>