<% include partials/header %>

<% include partials/nav %>

<div class="content">
  
  <h1> 
  
    MIDDLE WARE <br> MAXIMIZING FUNCTION <br> MINIMIZING POLICY
    
  </h1>
    
  <p>
    
    <span class="tab">Today’s</span> leading enterprises are transforming technically,
    jumping head first into the digital economy.
    Transformations are being driven by connected devices and
    consumers’ thirst for compelling brand experiences- all
    generating a vast and ever growing amount of data.
      
      <br><br>
      
    <span class="tab">One</span> aspect of good design stems from modular interfaces
    that maximize function and minimize policy.   In this
    context, function is what the component delivers and
    policy is what it requires of you in order to provide
    that function.   Focus on goals like these is one reason
    our systems are intuitive to use and customize, even for
    a non-professional. 
    
  </p>
  
    <h2>MIDDLE WARE <br> WITHOUT POLICY</h2>
    
  <p>
    
  <span class="tab">These</span> goals are also considered as we integrate third
  party application programming interfaces (APIs).   An
  API is a type of digital glue that links services,
  applications and systems. This allows businesses to
  make the most of their data to create compelling
  customer experiences and open new revenue channels.
  
  </p>
  
  <h2> 
  
    CONNECTED <br>TO THE <br>DIGITAL WORLD
    
  </h2>
  
  <p>
    
    <span class="tab">Cloud</span> is the platform of choice the new digital
    builders are using to reimagine everything. Cognitive systems are 
    driving a deeper understanding of the flood of data moving in and out. 
    Middleware provides an enabling layer and the enterprise integration 
    needed to connect systems of engagement like mobile with existing 
    systems of record to yield systems of insight. 

  </p>
  
</div>

<div class="division"></div>

<div class="content3">
  
  <h2> 
  
    A TEAM <br> OF DREAMERS
    
  </h2>
  
  <p>
    
    <span class="tab">MiddleMatter</span> is a team of innovators who work
    where their ideas have the greatest impact. From developing software 
    that transforms healthcare to the design of next generation sport
    stadiums, our innovators change the way that people experience the 
    world. 
    
    <br><br>
    
    <span class="tab">Every</span> voice contributes. Together our 
    mathematicians, engineers, coders and designers outthink challenges 
    making discoveries that alter industries. Our innovation attracts 
    impressive partners as well. We collaborate with global leaders 
    such as Apple, Twitter, Facebook and Box using data analytics 
    combined with cloud technology to build applications that help 
    enterprises make smarter decisions. 
    
    <br><br>    
    
    <a href="/about#theTeam" id="teamLink"><strong>Meet the team...</strong></a>

  </p>
    
</div>
  
</div>

<% include partials/footer %>